body {
  background-color: white;
}

.dashboard {
  width:auto;
  min-height:500px;
  height:auto;
  padding : 10px 10px 10px 10px;
  margin-bottom:1rem;
}

.third, .fourth, .fifth {
  margin-bottom : 1rem;
}

.first {
  width: auto;
  background-color: rgb(48, 61, 81);
  text-align: center;
  padding : 0.5rem 0;
}
.first-title {
  display : flex;
  justify-content: center;
}

.first-title p {
  font-size : 2rem;
  line-height : 4rem;
  letter-spacing: 0.1rem;
  display : inline-block;
  margin : 0 0;
  color : white;
}
.first-title-mini {
  font-size : 1rem;
  font-weight : 300;
  letter-spacing : 0.5rem;
  margin :0 0;
  color: white;
}


.second {
  width:100%;
  height:2.6rem;
  /*background-color: rgb(48, 61, 81);*/
  display:inline-flex;
  flex-flow: row nowrap;
}
.selling, .eating {
  width: 50%;

  justify-content: center;
}
.selling {
  justify-content: flex-start;
  background-color: orange;
  text-align:center;
}
.eating {
  justify-content: flex-end;
  background-color: blue;
  text-align: center;
}
.second p {
  margin : 0.5rem 0.2rem;
  font-size: 1.3rem;
}


.third {
  width:auto;
  height: 300px;
  background-color: white;
}

.fourth {
  width: auto;
  height : 300px;
  background-color: olive;
}

.fifth {
  width : auto;
  height : 30px;
  background-color: red;
}

.sixth {
  width: auto;
  height : 30px;
  background-color: black;
}
.seventh {
  width:auto;
  height:30px;
  background-color:pink;
}
